<h1>장바구니</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Genre</th>
    <th>Price</th>
    <th>Rating</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @shopping_bag.each do |s| %>
    <% restaurant=Restaurant.find(s.r_id) %>
    <tr>
      <td><%= restaurant.name %></td>
      <td><%= restaurant.location %></td>
      <td><%= restaurant.genre %></td>
      <td><%= restaurant.pricerange %></td>
      <td><%= restaurant.rating %></td>
      <td><%= link_to '장바구니 빼기', "/restaurant_recommendation/remove_from_shopping_bag/#{s.r_id}" %></td>
      <td><%= link_to '조회', "/restaurant_reservation/restaurantInfo/#{s.r_id}" %></td>
  <% end %>
  </tbody>
</table>
<br>
<br>

<a href="/restaurant_recommendation/my_page">[BACK]</a>