<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" type="text/css" href="/assets/new.scss">
  <style>
  </style>
</head>

<div class="PageTitle"><h1>우선순위를 설정해주세요.</h1></div>
  <%= form_for @priority, url:"/restaurant_recommendation/update_priority/", method: 'patch' do |f| %>
    거리 : <%=f.text_field :distance %><br>
    가격대 : <%=f.text_field :price %><br>
    별점 : <%=f.text_field :rating %><br>
    대기시간  <%=f.text_field :waiting %><br>
    <%= f.submit %>

<% end  %>