<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" type="text/css" href="/assets/new.scss">
  <style>
  </style>
</head>

<div class="PageTitle"><h2>픽!했당 Log in</h2></div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="login">
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
<br><br>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
<br><br>
  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.label :remember_me %>
      <%= f.check_box :remember_me %>
    </div>
  <% end -%>
  <br>
</div>
  <div class="button">
    <%= f.submit "Log in" %>
  </div>

<% end %>
<br><br>
<div class="field2"><%= render "devise/shared/links" %></div>
