<!DOCTYPE html>
<html>

<html lang="en">
<head>
  <meta charset="UTF-8">

    <title>Untitled15</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="main">
    <%if current_user %>
      <div class="logout"><%=link_to image_tag('/logout.svg', size: 25),'/users/sign_out',method:'delete' %></div>
      <div class="edituser"><%=link_to image_tag('/resume.svg', size: 25),'/users/edit' %></div>
    <%end %>
  </div>
    <%= yield %>
  </body>
</html>
